.comment-comments a {
  background: url(../images/icons.png) no-repeat 0 -32px;
  padding-left: 18px;
}
.comment-reply a {
  background: url(../images/icons.png) no-repeat 0 -96px;
  padding-left: 18px;
}
.comment-add a {
  background: url(../images/icons.png) no-repeat 0 -16px;
  padding-left: 18px;
}
.comment-delete a {
  background: url(../images/icons.png) no-repeat 0 -48px;
  color: #500;
  padding-left: 18px;
}
.comment-edit a {
  background: url(../images/icons.png) no-repeat 0 -64px;
  padding-left: 18px;
}
.comment-approve a {
  background: url(../images/icons.png) no-repeat 0 0;
  padding-left: 18px;
}
.comment {
  padding: .5em 1em 1em 1em;
  margin: 1em 0;
  border: solid 1px #DDD;
}
.comment .user-picture {
  float: left;
  margin-right: .5em;
}
.comment-id {
  float: right;
  text-decoration: none;
}