textarea,
input[type=text],
input[type=password],
input[type=search] {
  border-radius: 5px;
  border: 1px solid #999;
  padding: 3px;
}
.resizable-textarea .grippie {
  background: none repeat scroll 0 0 #FFF;
  border-width: 1px 0;
  height: 1px;
  margin: 1px 0 5px;
  border-color: #999;
}
.description {
  color: #999;
  padding-left: 5px;
}
.form-required {
  color: #930;
}
a.button,
.form-submit {
  margin-left: .2em;
  margin-right: .2em;
}