/* Columns 
-------
.col_33 | .col_33 | .col_33
.clearfix
-------
.col_66 | .col_33
.clearfix
-------
.col_50 | .col_50
.clearfix
-------
.col_100
-------
*/
.col_33 {
  width: 31%;
  margin: 0 2% 0 0;
  float: left;
}
.col_50 {
  width: 48%;
  margin: 0 2% 0 0;
  float: left;
}
.col_66 {
  width: 64%;
  margin: 0 2% 0 0;
  float: left;
}
.col_100 {
  width: 98%;
  margin: 0 2% 0 0;
}
/* End columns */

/* Helper classes */
.center {text-align: center;}
.left {text-align: left;}
.right {text-align: right;}
.img_floatleft {float: left; margin: 0 10px 5px 0;}
.img_floatright {float: right; margin: 0 0 5px 10px;}
.img {max-width: 100%;}
/* End helper classes */

/* Branding */
#logo {
  float: left;
  display: inline-block;
  margin: 0 0.8em;
}
#name-slogan {
  float: left;
}
#name-slogan a{
  font-size: 24px;
}
#site-name {
  margin-top: .15em;
  margin-bottom: .2em;
}
#site-slogan {
  font-size: 1em;
  margin: 0;
}
/* End branding */

#container {
  max-width: 1300px;
  margin: 0 auto;
}
#header {
  padding: 1.5em 2% 0 2%;
  position: relative;
}
#header:before {
  content: "";
  display: block;
  height: 100%;
  width: 6000px;
  position: absolute;
  left: -2000px;
  top: 0;
  z-index: -1;
}
#featured {
  padding: 1em 0 1em 2%;
  margin: 0;
  position: relative;
}
#featured:before {
  content: "";
  display: block;
  height: 100%;
  width: 6000px;
  position: absolute;
  left: -2000px;
  top: 0;
  z-index: -1;
}
.article {
  padding: 1.5em 1em;
}
#footer {
  padding: 2em 2% 5em 2%;
  position: relative;
  margin-top: 2em;
}
#footer:before {
  content: "";
  display: block;
  height: 100%;
  width: 6000px;
  position: absolute;
  left: -2000px;
  top: 0;
  z-index: -1;
}
.copyright {
  width:49%;
  float:left;
}
#sidebar {

}
#sidebar h2{
  margin: 0;
}
#sidebar .content{
  margin: 1em 0;
}
#sidebar .block {
  margin-bottom: 2em;
}
#system-main {
  padding: .75em 1.25em;
}
.feed-icon {
  float: right;
  margin: 1em;
}