/* Main menu */
#main-menu {
  clear: both;
}
#main-menu li {
  display: inline-block;
}
#main-menu li a {
  padding: 0 1em;
}
/* End main menu */

/* Secondary menu */
#secondary-menu {
  position: absolute;
  right: 0;
  top: 0;
  width: 500px;
}
#secondary-menu .links {
  float: right;
  font-size: 0.929em;
  margin: 10px 10px 0;
}
.menu_bottom {
  width: 50%;
  float: right;
  text-align: right;
  margin: 0;
  padding: 0;
}
.menu_bottom li {
  display: inline-block;
  margin: 0 0 0 7px;
}
.menu_bottom li.active,
.menu_bottom li.active a {
  text-decoration:none;
  cursor:default;
}
/* End secondary menu */

/* Tabs */  
.tabs ul.primary li a{
  border-radius: 5px 5px 0 0;
}
/* End tabs */