/* Appearance */
html {
  height: 100%;
  overflow-x: hidden;
}
body {
  font-family: arial, sans-serif;
  height: 100%;
}
ul li, ol li {
  padding: 0 0 0.25em 0;
}
h1, h2 {
  font-weight: normal;
  margin-top: 0;
}
h3, h4, h5, h6 {
  font-weight: bold;
}
table {
  width: 100%;
}
table td {
  padding: .25em;
}
table tr:nth-child(even) {

}
table tr:last-child {
  border:0;
}
tr.even {
  background: #EEE;
}
tr.odd {
  background: #FFF;
}
th {
  border-bottom: 2px solid #CCC;
}
tr.odd td.active{
  background: #EEE;
}
/* End appearance */


/* Wireframes */
.wireframes .container,
.wireframes header,
.wireframes article,
.wireframes #sidebar {
  padding: 1px;
  border: dashed 2px blue;
}
.wireframes img,
.wireframes .block,
.wireframes #breadcrumb {
  border: dashed 1px red;
}
.wireframes h1,
.wireframes h2,
.wireframes h3,
.wireframes ul {
  border: dotted 1px yellow;
}
/* End wireframes */

/* Pager */
.item-list ul.pager {
  margin-top: 2em;
}
.item-list ul.pager li{
  margin: 0;
}
.item-list ul.pager a{
  text-decoration: none;
  padding: 0.2em 0.5em;
}
.item-list ul.pager a:hover{
  border-color: #999;
  text-decoration: underline;
}
/* End pager */

/* Breadcrumb */
#breadcrumb {
  margin-bottom: 1em;
}
/* End breadcrumb */

/* Messages */
.messages {
  border-radius: 5px;
}
/* End messages */

/* Administration */
#admin-menu  {
  font-size: 12px;
}
.block-region {
  color: #000;
  background-color: #CFC;
  border: dashed 1px #050;
}
#timer {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #FFB;
  font-family: arial;
  padding: 1px 5px;
  border: solid 1px #553;
  border-width: 1px 0 0 1px;
  border-radius: 7px 0 0 0;
}
html.js input.form-autocomplete {
  /* http://drupal.org/node/23506#comment-909344 */
  background-image: url("../images/throbber.gif");
}
/* End administration */