/* Common styles */
body {
  font-family: arial, sans-serif;
  color: #111;
}
a,
a:visited  {
  color: #FF7D01;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1, h2 {
  font-size: 19px;
  font-weight:normal;
  font-family: georgia, serif;
  font-style: italic;
  padding: 0 0.2em;
}
.col_33 h2 {
  background: #FFEBC0;
  display: inline-block;
}
h3, h4, h5, h6 {
  font-weight: bold;
  font-family: georgia, serif;
  font-style: italic;
}
/* End common styles */

/* Layout */
#header:before {
  border-bottom: 3px double #FF7D01;
}
#header {
  margin-bottom: 1em;
}
#featured:before {
  border-bottom: 3px double #FF7D01;
}
#footer:before {
  border-top: 3px double #FF7D01;
}
/* End layout */

/* Messages */
div.messages  {
  padding: 8px 14px;
}
div.status {
  color: #FFF;
  background: #8AAC00;
}
div.warning {
  background: #ffebc0;
}
div.error {
  color:#fff;
  background:#ff3701;
}
/* End messages */

/* Navigation */
#main-menu {
  width: 50%;
  float: right;
  text-align: right;
  margin: 0;
}
#main-menu li {
  display: inline-block;
  margin: 0 0 0 2px;
  padding: 0;
}
#main-menu li:hover {

}
#main-menu li a {
  display: inline-block;
  padding: 10px 8px;
  background: #FFEBC0;
  font-family: georgia, serif;
  color: #FF7D01;
  border-radius: 10px 10px 0 0;
}
#main-menu li a:hover {
  background: #FFF4DD;
}
#main-menu li a.active {

}
/* End navigation */

/* Buttons */
a.button,
.form-submit {
  border: 0;
  text-align: center; 
  text-decoration: none;
  background: #8AAC00;
  border-radius: 4px;
  color: #FFF;
  padding: 5px 10px;
  font-family: verdana, sans-serif;
  display: inline-block;
  font-style: normal;
}
a.button:hover,
.form-submit:hover {
  color: #FFF;
  background: #FF7D01;
}
a.button:active,
.form-submit :active {
  color: #B25700;
  text-shadow: 1px 1px 1px #FFCC9C;
  box-shadow: #DA6A00 0px 2px 0 inset;
  background: #FF7D01;
}
/* End buttons */


/* Breadcrumbs */
#breadcrumb {
  border: 1px dashed #FF7D01;
  padding: .5em;
}
/* End breadcrumbs */

/* Tables */
table {
  width: 100%;
}
table th {
  padding: 5px 7px;
  font-weight: normal;
  text-align: left;
  font-size: 16px;
  background: #FFEBC0;
  border-bottom: 2px solid #FF7D01;
}
table td {
  padding: 5px 7px;
}
table tr.even {
  background: transparent;
  border-bottom: 1px solid #FF7D01;
}
table tr.odd {
  border-bottom: 1px solid #FF7D01;
}
table tr:last-child {
  border: 0;
}
/* End tables */

h1#site-name {
  font-size: 27px;
  color: #FF7D01;
  font-family: tahoma, sans-serif;
  font-style: normal;
  text-transform: uppercase;
}
article.node footer {
  border-bottom: 1px solid #FF7D01;
}
.comment {
  border: 1px dashed #FF7D01;
}