/* Common styles */
body {
  background: none repeat scroll 0 0 #58595B;
  color: #000000;
}
a,
a:visited {
  color: #444;
}
/* End common styles */

#header {
  margin:13px 0 11px 0;
  padding:1em 2% 0 2%;
  border-top:1px solid #fff;
  color: #FFF;
}
#header a{
  color: #FFF;
}
#header:before {
  border: none;
}
article.article{
  background: none repeat scroll 0 0 #FFFFFF;
  padding: 7px 0 3em 2%;
}

#featured {
  border:2px solid #fff;
  margin:0 1% 24px 1%;
  padding:10px 0 0 1%;
  color:#fff;
}
#featured:before {
  border: none;
}
#featured a {
  color:#fff;
}
#featured a.hover {
  color:#EEE;
}

#footer {
  color: #FFF;
}
#footer a{
  color: #FFF;
}
#footer:before {

}


#main-menu {
  float: right;
  text-align: right;
  margin: 2.5em 0 0 0;
  font-size: 15px;
  clear: none;
}

#main-menu li {
  display: inline-block;
}
#main-menu li a{
  color: #B3B3B3;
}
#main-menu li.active,
#main-menu li.active a {
  color: #fff;
  text-decoration: none;
  cursor: default;
  position: relative;
}

#main-menu li.active:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #FFF;
  position: absolute;
  left: 50%;
  bottom: -12px;
  margin: 0 0 0 -2px;
}

/* Messages */
div.messages  {
  padding: 8px 14px;
  color: #FFF;
  border-radius: 8px;
  background: none repeat scroll 0 0 #999;
  border: solid 1px #999;
}
div.status {
  background-color: #49D76E;
  border-color: #39C75E;
}
div.warning {
  background-color: #D7CF49;
  border-color: #C7BF39;
}
div.error {
  background-color: #D03F3F;
  border-color: #C02F2F;
}
/* End messages */

.form label {
  display: inline-block;
  padding: 0 0 4px 0;
}

/* Buttons */
a.button,
.form-submit {
  border: 1px solid #000;
  text-align: center; 
  text-decoration: none;
  border-radius: 4px;
  box-shadow: #000 0px 0px 1px;
  background: #fff;
  color: #000;
  padding: 3px 5px;
  font-family: verdana, sans-serif;
  display: inline-block;
}
a.button:hover,
.form-submit:hover {
  border: 2px solid #000;
  padding: 2px 4px;
  color: #616161;
  background: transparent;
}
a.button:active,
.form-submit :active {
  color: #000;
  border: 1px solid #000;
  padding: 7px 12px;
  box-shadow: #888 0px 3px 2px inset;
}
/* End buttons */