/* Common styles */
body {
  font-family: arial, sans-serif;
  color: #333;
  background: #676D8F;
}
a,
a:visited {
  color: #40476C;
 -webkit-transition-property: color;
      -moz-transition-property: color;
        -o-transition-property: color;
       -ms-transition-property: color;
           transition-property: color;

   -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
       -ms-transition-duration: 0.5s;
           transition-duration: 0.5s;
}
a:hover {
  color: #F00;
}
/* End common styles */

#header:before {
  border-bottom-width: 0;
}
#header {
  padding: 2em 2% 2em;
  background: #70779C;
  color: #FFF;
  margin: 0 1% 1em;  
  border-radius: 0 0 30% 30% / 0 0 12px 12px;
  box-shadow: rgba(0,0,0,0.1) 0px 3px 3px;  
  background: -moz-radial-gradient(center top, farthest-corner, #97A1D2 10%, #70779C 67%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(10%,#97A1D2), color-stop(67%,#70779C));
  background: -webkit-radial-gradient(center top, farthest-corner, #97A1D2 10%, #70779C 67%);
  background: -o-radial-gradient(center top, farthest-corner, #97A1D2 10%, #70779C 67%);
  background: -ms-radial-gradient(center top, farthest-corner, #97A1D2 10%, #70779C 67%);
  background: radial-gradient(center top, farthest-corner, #97A1D2 10%, #70779C 67%); 
}
#header nav#secondary-menu a {
  color: #C7E1F2;
  font-size: 85%;
}
#name-slogan,
#name-slogan a{
  color: #FFD400;
}
#featured:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 10%;
  height: 80%;
  width: 100%;
  z-index: -1;
  border-radius: 12px/90px;
  box-shadow: rgba(0,0,0,0.5) 0px 0px 8px;
}
#featured {
  background: #70779C;
  color: #FFF;
  padding: 0.5em 0 1em 2%;
  margin: 0 1% 1em;
  position: relative;
}
#featured a,
#featured a.active {
  color: #FFF;
}
#featured a:hover {
  color: #FFD400;
}

#footer:before {

}
#footer {
  padding: 2em 2% 3em 2%;
  color: #FFF;
}
#footer a,
#footer a.active {
  color: #FFF;
}
#footer a:hover {
  color: #FFD400;
}

article.article{
  padding:0 0 2em 2%;
  margin: 0 1% 0;
  background: #FFF;
  box-shadow: rgba(0,0,0,0.4) 0px 0px 4px;
}

/* Messages */
div.messages  {
  padding: 8px 14px;
  border-radius: 3px;
  box-shadow: rgba(0,0,0,0.3) 0px 1px 2px;
}
div.status {
  color: #FFF;
  background: #4ABF3B;
}
div.warning {
  color: #3F4256;
  background: #F9E678;
}
div.error {
  color: #FFF;
  background: #FF3E31;
}
/* End messages */

#main-menu {
  width: 50%;
  float: right;
  text-align: right;
  margin: 1.5em 0 0 0;
  clear: none;
}
#main-menu a,
#main-menu a:visited {
  color: #FFF;
}
#main-menu a:hover,
#main-menu a:visited:hover {
  color: #FFD400;
}
#main-menu li {
  display: inline-block;
  margin: 0 0 0 7px;
}
#main-menu li.active,
#main-menu li.active a {
  text-decoration:none;
  cursor:default;
}

/* Breadcrumbs */
#breadcrumb {
  padding: .5em 0;
}
/* End breadcrumbs */

/* Buttons */
a.button,
.form-submit{
  border: 1px solid #EDB200;
  text-align: center; 
  text-decoration:none;
  text-shadow: 1px 1px 0 #F9E67B;
  background: #FFD400;  
  background: -moz-radial-gradient(center top, farthest-corner, #F9E67B 10%, #FFD400 67%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(10%,#F9E67B), color-stop(67%,#ffd400));
  background: -webkit-radial-gradient(center top, farthest-corner, #F9E67B 10%, #FFD400 67%);
  background: -o-radial-gradient(center top, farthest-corner, #F9E67B 10%, #FFD400 67%);
  background: -ms-radial-gradient(center top, farthest-corner, #F9E67B 10%, #FFD400 67%);
  background: radial-gradient(center top, farthest-corner, #F9E67B 10%, #FFD400 67%);  
  color: #3F4256;
  padding: 3px;
  font-family: verdana, sans-serif;
  display: inline-block;
  border-radius: 3px;
  box-shadow: rgba(0,0,0,0.3) 0px 1px 2px;
}

a.button:hover,
.form-submit:hover {
  box-shadow: rgba(0,0,0,0.5) 0px 1px 4px;
  background:#ffc000;
  background: -moz-radial-gradient(center top, farthest-corner, #F9E67B 10%, #ffc000 67%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(10%,#F9E67B), color-stop(67%,#ffc000));
  background: -webkit-radial-gradient(center top, farthest-corner, #F9E67B 10%, #ffc000 67%);
  background: -o-radial-gradient(center top, farthest-corner, #F9E67B 10%, #ffc000 67%);
  background: -ms-radial-gradient(center top, farthest-corner, #F9E67B 10%, #ffc000 67%);
  background: radial-gradient(center top, farthest-corner, #F9E67B 10%, #ffc000 67%);  
}
a.button:active,
.form-submit:active {
  background: #FFC000;
  color: #584B00;
  text-shadow: 1px 1px 1px #FFF;
  box-shadow: rgba(0,0,0,0.7) 0px 1px 4px inset;
}
/* End buttons */

/* Comments */
.comment {
  border-radius: 15px;
  border: 1px dashed #97A1D2;
}
/* End comments */