/* Common styles */
body {
  color: #333;
  background: #F2F2F2;
}
a,
a:visited{
  color: #444;
}
a:hover {
  color: #777;
}
/* End common styles */

#header:before {
  background: #313131 url(header.png);
}
#header {
  color: #CCC;
}
#header a,
#header a.active{
  color: #CCC;
}
#featured:before {
  background: #499CD7;
  border-top: 1px solid #88C8F6;
}
#featured {
  color: #F2F2F2;
}
#featured a,
#featured a.active {
  color: #F2F2F2;
}

#footer:before {
  background: #FFF;
  box-shadow: 0 -1px 5px #D8D8D8;
}
#footer {
  color: #333;
}
#footer a,
#footer a.active {
  color: #777;
}
#system-main {
  background: #FFF;
  border: 1px solid #999;
  border-radius: 12px
}

/* Messages */
div.messages  {
  padding: 8px 14px;
  color: #FFF;
  border-radius: 8px;
  background: none repeat scroll 0 0 #999;
  border: solid 1px #999;
}
div.status {
  background-color: #49D76E;
  border-color: #39C75E;
}
div.warning {
  background-color: #D7CF49;
  border-color: #C7BF39;
}
div.error {
  background-color: #D03F3F;
  border-color: #C02F2F;
}
/* End messages */

/* Navigation */
#main-menu {
  text-align: right;
  clear: both;
}
#main-menu li {
  margin-left: .25em;
  padding: 0;
}
#main-menu li:hover {
  border-color: #CCC;
}
#main-menu li a {
  border: 1px solid #999;
  border-radius: 10px 10px 0 0;
  border-bottom-width: 0;
  color: #FFF;
  text-decoration: none;
  padding: 0.25em .5em;
  display: block;
  background-color: #777;
}
#main-menu li a:hover {
  background-color: #999;
}
#main-menu li a.active {
  background-color: #333;
}
/* End messages */

/* Breadcrumbs */
#breadcrumb {
  background: #FFF;
  border: 1px dashed #999;
  border-radius: 0.2em;
  padding: 0.4em 0.8em;
}
/* End breadcrumbs */

/* Pager */
.item-list ul.pager a{
  border-radius: 3px;
  border: solid 1px #CCC;
}
.item-list ul.pager a:hover {
  text-decoration: none;
}
/* End pager */


.comment-unpublished {
  background: #EDD;
}
.comment {
  border: 1px dashed #999;
  border-radius: 5px;
}
#user-links a {
  color: #FFF;
}
.poll  .bar .foreground {
  background-color: #999;
}
/* Buttons */
a.button,
.form-submit {
  border: 1px solid #9A9A9A;
  text-align: center; 
  text-decoration: none;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.64) 0px 1px 4px;
  background: #FFFFFF;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#E2E2E2));
  background: -webkit-linear-gradient(#FFFFFF, #E2E2E2);
  background: -moz-linear-gradient(#FFFFFF, #E2E2E2);
  background: -ms-linear-gradient(#FFFFFF, #E2E2E2);
  background: -o-linear-gradient(#FFFFFF, #E2E2E2);
  background: linear-gradient(#FFFFFF, #E2E2E2);
  color: #484848;
  padding: 3px 10px;
  font-family:verdana, sans-serif;
  display: inline-block;
  margin: .2em;
}
a.button:hover,
.form-submit:hover {
  border: 1px solid #5A5A5A;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#E2E2E2), to(#FFFFFF));
  background: -webkit-linear-gradient(#E2E2E2, #FFFFFF);
  background: -moz-linear-gradient(#E2E2E2, #FFFFFF);
  background: -ms-linear-gradient(#E2E2E2, #FFFFFF);
  background: -o-linear-gradient(#E2E2E2, #FFFFFF);
  background: linear-gradient(#E2E2E2, #FFFFFF);
}
a.button:active,
.form-submit:active {
  color: #777;
  box-shadow: #5A5A5A 0px 3px 5px inset;
}
/* End button */
